@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ChessByUrl</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body id="home">
    <header>
        <img src="~/images/logo.jpg" alt="Chess By URL" />
        <section>
            <p>Welcome to ChessByUrl! <a href="/play/o/s">Start a new game</a>, or browse the variants below.</p>
            <p>Disabled features will be implemented in the future. For documentation (including roadmap) and 
                source code, visit <a href="https://github.com/b-h-mck/ChessByUrl">Chess By URL on GitHub</a>.</p>
        </section>
    </header>
    <nav>
        <section>
            <h3>Standard Chess</h3>
            <p>A bog-standard game of chess.</p>
            <ul>
                <li>
                    <a href="/play/o/s">Play</a>
                </li>
                <li>
                    <a class="disabled">Edit</a>
                </li>
            </ul>
        </section>
        <section>
            <h3>Chess960</h3>
            <p>Chess960, with a Random or Numbered starting position.</p>
            <ul>
                <li>
                    <a class="disabled">Random</a>
                </li>
                <li class="number-input">
                    <input type="number" placeholder="(1-960)" disabled />
                    <button disabled>Numbered</button>
                </li>
            </ul>
        </section>
        <section>
            <h3>Chess On A Really Big Board</h3>
            <p>16x16 chess variant with several new pieces.</p>
            <ul>
                <li>
                    <a class="disabled">Original</a>
                </li>
                <li>
                    <a class="disabled">Golden Age</a>
                </li>
                <li>
                    <a class="disabled">Edit</a>
                </li>
            </ul>
        </section>
        <section>
            <h3>Custom Ruleset</h3>
            <p>Design your own pieces and rules.</p>
            <ul>
                <li>
                    <a class="disabled">Get started</a>
                </li>
            </ul>
        </section>
    </nav>
    <footer>
        <p>&copy; @DateTime.Now.Year ChessByUrl. Licensed under the <a href="https://opensource.org/licenses/MIT">MIT License</a>.</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
