.board {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px; /* Adjust as needed for larger screens */
    margin: auto;
}
    .board .coordLabel {
        text-align: center;
    }

    .board .square {
        width: calc(100% / 8); /* Assuming an 8x8 board */
        position: relative;
        padding-bottom: calc(100% / 8); /* Maintain aspect ratio */
        text-align: center;
        vertical-align: middle;
        border: 1px solid black;
    }

        .board .square span {
            font-size: 3.5em;
            line-height: 1; /* Ensures the text is vertically centered */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }

        .board .square.light {
            background-color: lightgray;
        }

        .board .square.dark {
            background-color: darkgray;
        }

    .board.showMoveFrom .square.light.moveFrom,
    .board.showMoveTo .square.light.moveTo {
        background-color: lightcyan;
    }

    .board.showMoveFrom .square.dark.moveFrom,
    .board.showMoveTo .square.dark.moveTo {
        background-color: powderblue
    }

    .board .square.selected {
        background-color: yellow;
    }

        .board .square.selected.moveTo {
            background-color: lightcoral !important;
        }
